/*
#F40066
#FF301A
*/

body {
  /*background: linear-gradient(to right, #FF301A , #F40066);*/
  background: pink;
}
.container {
  text-align: center;
}
h1 {
  font-family: 'Anton';
  font-size: 10em;
  text-align: center;
  color: white;
}
.mainButton,
.confirmUploadButton,
input {
  background-color: Transparent;
  border-radius: 10%;
  border: 5px solid white;
  text-align: center;
  color: white;
  font-family: 'Anton';
  font-size: 3em;
  padding: 0.5em;
  margin-left: auto;
  right: 30%;
  left: 30%;
}

input {
  width: 60%;
}

.trackList {
  border: 5px solid white;
  margin: 10%;
  border-radius: 10%;
}

.tracklistHeading {
  font-family: 'Anton';
  font-size: 3em;
  text-align: center;
  color: white;
}

.tracklistItem {
  color: white;
  font-size: 2em;
  text-align: left;
  list-style-type: none;
}

.closeButton {
  border: none;
  background-color: Transparent;
  color: white;
  font-family: 'Anton';
  font-size: 2em;
}

.uploadButton {
  padding: 1em;
}
